/* ------------- GOLBAL CSS ------------  */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');

* {
    /* font-family: "visbycf", sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
}



:root {
    --primary-color: #8982F7;
    --secondary-color: #AE506E;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fs-7 {
    font-size: 15px;
}

.fs-8 {
    font-size: 14px;
}

.fs-9 {
    font-size: 13px;
}

.fs-10 {
    font-size: 12px;
}

.fs-11 {
    font-size: 10px;
}

.fs-12 {
    font-size: 7px;
}

a {
    color: #787879 !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: var(--primary-color);
}

input:focus {
    outline: none;
}

.text-primary {
    color: var(--primary-color) !important;
    fill: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-faded {
    opacity: 0.8;
}

.text-faded-2 {
    opacity: .6;
}

a {
    text-decoration: none;
}

body {
    background-color: #EDEDED;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 10px;
    background-color: #f6f6f5;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 400px;
}

.wrapper {
    display: flex;
    /* min-height: 100vh; */
    width: 100%;
}

.side {
    width: 50px;
}

.side-child {
    width: 100%;
    padding-top: 200px;
    height: 100vh;
    background: transparent linear-gradient(174deg, #051622 0%, #1BA098 100%) 0% 0% no-repeat padding-box;
    position: sticky;
    top: 0;
}

.main {
    flex: 1;
}

.header {
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.445);
    background-color: white;
}

.header .dropdown button {
    border: none;
    background-color: transparent;
}

.header .dropdown button img:nth-child(1) {
    width: 45px;
    margin-right: 10px;
}

.header .dropdown-toggle::after {
    display: none;
}

.box-1 {
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.226);
    background-color: white;
    border-radius: 10px;
}

@media (max-width:991px) {
    .side {
        display: none;
    }
}

.sidebar-nav {
    border-left: 2px solid rgb(80, 80, 80);
}

.link-1-parent {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    position: relative;
}

.link-1 {
    background-color: #EDEDED;
    border-radius: 1000px;
    width: 75%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.link-1 span {
    flex: 1;
    font-size: 13px;
    text-align: center;
    border-right: 1px solid black;
    padding: 5px 0;
}

.link-1 i {
    font-size: 20px;
    margin-left: 10px;
}

.bubble {
    position: absolute;
    left: -9px;
    top: 23px;
    width: 70px;
}

.bubble img {
    width: 100%;
}

.bubble .step {
    position: absolute;
    top: 15%;
    right: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #11C183;
}

.bubble .dot {
    width: 13%;
    aspect-ratio: 1/1;
    background-color: rgb(231, 231, 231);
    position: absolute;
    bottom: 8px;
    left: 4px;
    border-radius: 50%;
}

.link-1-parent.active .link-1 {
    background-color: var(--primary-color);
    color: white;
}

.link-1-parent.past .link-1 {
    background-color: var(--secondary-color);
    color: white;
}

.link-1-parent.active .link-1 span {
    border-color: white;
}

.link-1-parent.active .bubble .dot {
    background-color: var(--primary-color);
}

.link-1-parent.past .bubble .dot {
    background-color: var(--secondary-color);
}

.ws-input {
    border: 1px solid var(--primary-color);
    font-size: 15px;
    padding: 3px 5px;
    border-radius: 3px;
    height: 30px;
}
textarea.ws-input{
    min-height: 80px;
}

button.ws-input {
    background-color: white;
    color: rgb(131, 131, 131);
    font-weight: 400;
}

select.ws-input {
    background-color: white;
    color: rgb(131, 131, 131);
    font-weight: 400;
}

.ws-input:focus {
    outline: none;
    box-shadow: none;
}

.search-button {
    width: 45px;
    height: 45px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
}

.search-button i {
    font-size: 20px;
}

.search-button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.btn-1 {
    background-color: var(--primary-color);
    border-radius: 1000px;
    display: flex;
    align-items: center;
    padding: 9px 20px;
    justify-content: center;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid var(--primary-color);
}

.btn-1:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.fade-wrapper {
    animation: .5s fadeup;
}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.drop-seach-parent {
    position: relative;
}

.drop-search {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.drop-search span {
    color: rgb(151, 151, 151);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 5px 15px;
}

.outline-top {
    border-top: 2px dashed var(--primary-color);
}

.ws-table.table {
    outline: 1px solid #11c1837a;
}

.ws-table thead {
    background-color: var(--secondary-color);
    color: #fff;
}

.ws-table thead th {
    border: none;
}

.ws-table th,
.ws-table th {
    padding: 10px;
}

.table-action-btn {
    width: 32px;
    height: 32px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.table-action-btn:hover {
    opacity: .7;
}

.table-action-btn i {
    font-size: 19px;
}

.pointer {
    cursor: pointer;
}

.ws-search-able-list span {
    padding: 4px;
    cursor: pointer;
}

.ws-search-able-list span:hover {
    background-color: rgb(247, 247, 247);
}

.search-able-input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

.form-check-input:checked {
    border-color: #AE506E;
    background-color: #AE506E;

}

.form-check-label:hover {
    color: #AE506E;
}

a {
    color: #000000 !important;
}


.accordion-item {
    border: none;
}

.accordion-button::after {
    background-color: var(--primary-color);
    height: 50px;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    width: 50px;
    background-size: 37%;
}

.accordion-item .accordion-button {
    padding: 0;
    border: 1px solid #11C183;
    padding-left: 20px;
}

.accordion-item {
    border-radius: 0 !important;
    margin-bottom: 10px;
}

.accordion-button:not(.collapsed) {
    background-color: var(--primary-color);
    color: white;
}

.accordion-button:not(.collapsed)::after {
    background-color: white;
}

.bi-caret-right-fill {
    color: #11C183;
    font-size: 18px;
}

.green-box {
    box-shadow: 0px 3px 6px #8982F742;
    border: 1px solid #11C183;
    border-radius: 15px;
}
.btn-plus{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #023E8A;
    border-radius: 50%;
}
.btn-plus i{
    font-size: 24px;
    color: white;
}
.ws-tab-1 .active{
    border-bottom: 2px solid var(--primary-color);
}
.ws-tab-1 .past{
    border-bottom: 2px solid #AE506E;
}
.ws-tab-1 span{
    font-size: 13px;
}
.heading-withline{
    width: 100%;
    position: relative;
}
.heading-withline h3{
    background-color: white;
    z-index: 1;
}
.caret-parent{
    position: relative;
}
.caret-parent i{
    position: absolute;
    left: -24px;
    top: -3px;
}