<div class="wrapper">
    <div class="side"></div>
    <div class="main ">
        <app-header></app-header>
        <div class="p-4 px-5">
            <div class="row mx-0 box-1 mb-5 p-4">
                <div class="col-lg-9 col-12 order-lg-1 order-2">
                    <app-customer-registration *ngIf="(tab$ | async )  == 0"></app-customer-registration>
                    <app-contact-person *ngIf="(tab$ | async )  == 1"></app-contact-person>
                </div>
                <div class="col-lg-3 col-12 order-lg-2 order-1">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
        </div>
    </div>
</div>