<div class="box-1 w-100 text-center py-3">
    <h3 class="fw-700 mb-0">AUDIT APPLICATION</h3>
    <small>304809384</small>
</div>
<div class="d-flex flex-column w-100 sidebar-nav mt-5 pb-5"  *ngIf="(tab$ | async) != null"  >
    <div class="link-1-parent" [ngClass]="{ 'active' : (tab$ | async) == 0 , 'past' : greaterThan(tab$ | async , 0) }">
        <div class="link-1">
            <span>Customer Registration</span>
            <i class="bi bi-lightbulb-fill"></i>
        </div>
        <div class="bubble">
            <img src="../../../assets/images/bubble.png" alt="">
            <span class="step">
                <small class="fw-600" style="line-height: 0; font-size: 9px;">STEP</small>
                <span class="fw-500 fs-4">01</span>
            </span>
            <div class="dot"></div>
        </div>
    </div>
    <div class="link-1-parent" [ngClass]="{ 'active' : (tab$ | async) == 1 , 'past' : greaterThan(tab$ | async , 1)  }">
        <div class="link-1">
            <span>Contact Persons</span>
            <i class="bi bi-telephone-fill"></i>
        </div>
        <div class="bubble">
            <img src="../../../assets/images/bubble.png" alt="">
            <span class="step">
                <small class="fw-600" style="line-height: 0; font-size: 9px;">STEP</small>
                <span class="fw-500 fs-4">02</span>
            </span>
            <div class="dot"></div>
        </div>
    </div>
    <div class="link-1-parent" [ngClass]="{ 'active' : (tab$ | async) == 2 , 'past' : greaterThan(tab$ | async , 2)  }">
        <div class="link-1">
            <span>Standards & Sites</span>
            <i class="bi bi-bar-chart-fill"></i>
        </div>
        <div class="bubble">
            <img src="../../../assets/images/bubble.png" alt="">
            <span class="step">
                <small class="fw-600" style="line-height: 0; font-size: 9px;">STEP</small>
                <span class="fw-500 fs-4">03</span>
            </span>
            <div class="dot"></div>
        </div>
    </div>
    <div class="link-1-parent" [ngClass]="{ 'active' : greaterThan(tab$ | async , 2) && lessThan(tab$ | async , 10) , 'past' : greaterThan(tab$ | async , 9) }">
        <div class="link-1">
            <span>Site Details</span>
            <i class="bi bi-coin"></i>
        </div>
        <div class="bubble">
            <img src="../../../assets/images/bubble.png" alt="">
            <span class="step">
                <small class="fw-600" style="line-height: 0; font-size: 9px;">STEP</small>
                <span class="fw-500 fs-4">04</span>
            </span>
            <div class="dot"></div>
        </div>
    </div>
    <div class="link-1-parent" [ngClass]="{ 'active' : (tab$ | async) == 10 , 'past' : greaterThan(tab$ | async , 11) }">
        <div class="link-1">
            <span>Site Details</span>
            <i class="bi bi-coin"></i>
        </div>
        <div class="bubble">
            <img src="../../../assets/images/bubble.png" alt="">
            <span class="step">
                <small class="fw-600" style="line-height: 0; font-size: 9px;">STEP</small>
                <span class="fw-500 fs-4">05</span>
            </span>
            <div class="dot"></div>
        </div>
    </div>
</div>
<div class="w-100 d-flex justify-content-center align-items-center pb-4">
    <button (click)="previous()" class="search-button mx-3" [ngClass]="{ 'text-faded-2' : (tab$ | async) == 0 }"  style="width: 40px; height:40px;"><i
            class="bi bi-arrow-left-circle fs-2"></i></button>
    <button (click)="next() " class="search-button mx-3" style="width: 40px; height:40px;"><i
            class="bi bi-arrow-right-circle fs-2"></i></button>
</div>